.website-orders-container {
  padding: 1.5rem;
}

.website-orders-title {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 1rem; */
}

.website-orders-table-wrapper {
  overflow-x: auto;
}

.website-orders-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.website-orders-table-head-row {
  background-color: #2563eb;
  color: white;
  text-align: left;
}

.website-orders-th,
.website-orders-td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.website-orders-row:hover {
  background-color: #f9fafb;
}

.website-orders-status-button {
  font-size: 0.875rem;
  color: #1d4ed8;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

.website-orders-view-button {
  background-color: #22c55e;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.replace-request-button-container {
  display: flex;
  justify-content: space-between;
}

.website-replace-request-button {
  background-color: #1d4ed8;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}

.website-replace-request-button:hover {
  color: #ffffff;
}
