body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* Custom scrollbar styling */
@layer utilities {
  /* For Webkit browsers (Chrome, Safari) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 16px; /* For vertical scrollbar */
    height: 16px;  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
  border: 3px solid #f0f0f0;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
    width: 16px; /* For vertical scrollbar */
    height: 16px;  

  }
  
  /* Hide scrollbar while maintaining functionality */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  
  }
}

/* Ensure the html and body take full height */
html, body, #root {
  @apply h-full w-full m-0 p-0;
}

/* Apply the thin scrollbar to specific elements */
main, .sidebar-content {
  @apply scrollbar-thin;
}